@media (min-width: 1600px) {
  .uk-grid-0-xl {
    margin-left: -0px;
  }
  .uk-grid-0-xl > * {
    padding-left: 0px;
  }
  .uk-grid-0-xl > .uk-grid-margin {
    margin-top: 0px;
  }
}

@media (min-width: 1200px) {
  .uk-grid-0-l {
    margin-left: -0px;
  }
  .uk-grid-0-l > * {
    padding-left: 0px;
  }
  .uk-grid-0-l > .uk-grid-margin {
    margin-top: 0px;
  }
}

@media (min-width: 960px) {
  .uk-grid-0-m {
    margin-left: -0px;
  }
  .uk-grid-0-m > * {
    padding-left: 0px;
  }
  .uk-grid-0-m > .uk-grid-margin {
    margin-top: 0px;
  }
}

@media (min-width: 640px) {
  .uk-grid-0-s {
    margin-left: -0px;
  }
  .uk-grid-0-s > * {
    padding-left: 0px;
  }
  .uk-grid-0-s > .uk-grid-margin {
    margin-top: 0px;
  }
}

.uk-grid-0 {
  margin-left: -0px;
}
.uk-grid-0 > * {
  padding-left: 0px;
}
.uk-grid-0 > .uk-grid-margin {
  margin-top: 0px;
}

@media (min-width: 1600px) {
  .uk-grid-4-xl {
    margin-left: -4px;
  }
  .uk-grid-4-xl > * {
    padding-left: 4px;
  }
  .uk-grid-4-xl > .uk-grid-margin {
    margin-top: 4px;
  }
}

@media (min-width: 1200px) {
  .uk-grid-4-l {
    margin-left: -4px;
  }
  .uk-grid-4-l > * {
    padding-left: 4px;
  }
  .uk-grid-4-l > .uk-grid-margin {
    margin-top: 4px;
  }
}

@media (min-width: 960px) {
  .uk-grid-4-m {
    margin-left: -4px;
  }
  .uk-grid-4-m > * {
    padding-left: 4px;
  }
  .uk-grid-4-m > .uk-grid-margin {
    margin-top: 4px;
  }
}

@media (min-width: 640px) {
  .uk-grid-4-s {
    margin-left: -4px;
  }
  .uk-grid-4-s > * {
    padding-left: 4px;
  }
  .uk-grid-4-s > .uk-grid-margin {
    margin-top: 4px;
  }
}

.uk-grid-4 {
  margin-left: -4px;
}
.uk-grid-4 > * {
  padding-left: 4px;
}
.uk-grid-4 > .uk-grid-margin {
  margin-top: 4px;
}

@media (min-width: 1600px) {
  .uk-grid-5-xl {
    margin-left: -5px;
  }
  .uk-grid-5-xl > * {
    padding-left: 5px;
  }
  .uk-grid-5-xl > .uk-grid-margin {
    margin-top: 5px;
  }
}

@media (min-width: 1200px) {
  .uk-grid-5-l {
    margin-left: -5px;
  }
  .uk-grid-5-l > * {
    padding-left: 5px;
  }
  .uk-grid-5-l > .uk-grid-margin {
    margin-top: 5px;
  }
}

@media (min-width: 960px) {
  .uk-grid-5-m {
    margin-left: -5px;
  }
  .uk-grid-5-m > * {
    padding-left: 5px;
  }
  .uk-grid-5-m > .uk-grid-margin {
    margin-top: 5px;
  }
}

@media (min-width: 640px) {
  .uk-grid-5-s {
    margin-left: -5px;
  }
  .uk-grid-5-s > * {
    padding-left: 5px;
  }
  .uk-grid-5-s > .uk-grid-margin {
    margin-top: 5px;
  }
}

.uk-grid-5 {
  margin-left: -5px;
}
.uk-grid-5 > * {
  padding-left: 5px;
}
.uk-grid-5 > .uk-grid-margin {
  margin-top: 5px;
}

@media (min-width: 1600px) {
  .uk-grid-6-xl {
    margin-left: -6px;
  }
  .uk-grid-6-xl > * {
    padding-left: 6px;
  }
  .uk-grid-6-xl > .uk-grid-margin {
    margin-top: 6px;
  }
}

@media (min-width: 1200px) {
  .uk-grid-6-l {
    margin-left: -6px;
  }
  .uk-grid-6-l > * {
    padding-left: 6px;
  }
  .uk-grid-6-l > .uk-grid-margin {
    margin-top: 6px;
  }
}

@media (min-width: 960px) {
  .uk-grid-6-m {
    margin-left: -6px;
  }
  .uk-grid-6-m > * {
    padding-left: 6px;
  }
  .uk-grid-6-m > .uk-grid-margin {
    margin-top: 6px;
  }
}

@media (min-width: 640px) {
  .uk-grid-6-s {
    margin-left: -6px;
  }
  .uk-grid-6-s > * {
    padding-left: 6px;
  }
  .uk-grid-6-s > .uk-grid-margin {
    margin-top: 6px;
  }
}

.uk-grid-6 {
  margin-left: -6px;
}
.uk-grid-6 > * {
  padding-left: 6px;
}
.uk-grid-6 > .uk-grid-margin {
  margin-top: 6px;
}

@media (min-width: 1600px) {
  .uk-grid-8-xl {
    margin-left: -8px;
  }
  .uk-grid-8-xl > * {
    padding-left: 8px;
  }
  .uk-grid-8-xl > .uk-grid-margin {
    margin-top: 8px;
  }
}

@media (min-width: 1200px) {
  .uk-grid-8-l {
    margin-left: -8px;
  }
  .uk-grid-8-l > * {
    padding-left: 8px;
  }
  .uk-grid-8-l > .uk-grid-margin {
    margin-top: 8px;
  }
}

@media (min-width: 960px) {
  .uk-grid-8-m {
    margin-left: -8px;
  }
  .uk-grid-8-m > * {
    padding-left: 8px;
  }
  .uk-grid-8-m > .uk-grid-margin {
    margin-top: 8px;
  }
}

@media (min-width: 640px) {
  .uk-grid-8-s {
    margin-left: -8px;
  }
  .uk-grid-8-s > * {
    padding-left: 8px;
  }
  .uk-grid-8-s > .uk-grid-margin {
    margin-top: 8px;
  }
}

.uk-grid-8 {
  margin-left: -8px;
}
.uk-grid-8 > * {
  padding-left: 8px;
}
.uk-grid-8 > .uk-grid-margin {
  margin-top: 8px;
}

@media (min-width: 1600px) {
  .uk-grid-9-xl {
    margin-left: -9px;
  }
  .uk-grid-9-xl > * {
    padding-left: 9px;
  }
  .uk-grid-9-xl > .uk-grid-margin {
    margin-top: 9px;
  }
}

@media (min-width: 1200px) {
  .uk-grid-9-l {
    margin-left: -9px;
  }
  .uk-grid-9-l > * {
    padding-left: 9px;
  }
  .uk-grid-9-l > .uk-grid-margin {
    margin-top: 9px;
  }
}

@media (min-width: 960px) {
  .uk-grid-9-m {
    margin-left: -9px;
  }
  .uk-grid-9-m > * {
    padding-left: 9px;
  }
  .uk-grid-9-m > .uk-grid-margin {
    margin-top: 9px;
  }
}

@media (min-width: 640px) {
  .uk-grid-9-s {
    margin-left: -9px;
  }
  .uk-grid-9-s > * {
    padding-left: 9px;
  }
  .uk-grid-9-s > .uk-grid-margin {
    margin-top: 9px;
  }
}

.uk-grid-9 {
  margin-left: -9px;
}
.uk-grid-9 > * {
  padding-left: 9px;
}
.uk-grid-9 > .uk-grid-margin {
  margin-top: 9px;
}

@media (min-width: 1600px) {
  .uk-grid-11-xl {
    margin-left: -11px;
  }
  .uk-grid-11-xl > * {
    padding-left: 11px;
  }
  .uk-grid-11-xl > .uk-grid-margin {
    margin-top: 11px;
  }
}

@media (min-width: 1200px) {
  .uk-grid-11-l {
    margin-left: -11px;
  }
  .uk-grid-11-l > * {
    padding-left: 11px;
  }
  .uk-grid-11-l > .uk-grid-margin {
    margin-top: 11px;
  }
}

@media (min-width: 960px) {
  .uk-grid-11-m {
    margin-left: -11px;
  }
  .uk-grid-11-m > * {
    padding-left: 11px;
  }
  .uk-grid-11-m > .uk-grid-margin {
    margin-top: 11px;
  }
}

@media (min-width: 640px) {
  .uk-grid-11-s {
    margin-left: -11px;
  }
  .uk-grid-11-s > * {
    padding-left: 11px;
  }
  .uk-grid-11-s > .uk-grid-margin {
    margin-top: 11px;
  }
}

.uk-grid-11 {
  margin-left: -11px;
}
.uk-grid-11 > * {
  padding-left: 11px;
}
.uk-grid-11 > .uk-grid-margin {
  margin-top: 11px;
}

@media (min-width: 1600px) {
  .uk-grid-16-xl {
    margin-left: -16px;
  }
  .uk-grid-16-xl > * {
    padding-left: 16px;
  }
  .uk-grid-16-xl > .uk-grid-margin {
    margin-top: 16px;
  }
}

@media (min-width: 1200px) {
  .uk-grid-16-l {
    margin-left: -16px;
  }
  .uk-grid-16-l > * {
    padding-left: 16px;
  }
  .uk-grid-16-l > .uk-grid-margin {
    margin-top: 16px;
  }
}

@media (min-width: 960px) {
  .uk-grid-16-m {
    margin-left: -16px;
  }
  .uk-grid-16-m > * {
    padding-left: 16px;
  }
  .uk-grid-16-m > .uk-grid-margin {
    margin-top: 16px;
  }
}

@media (min-width: 640px) {
  .uk-grid-16-s {
    margin-left: -16px;
  }
  .uk-grid-16-s > * {
    padding-left: 16px;
  }
  .uk-grid-16-s > .uk-grid-margin {
    margin-top: 16px;
  }
}

.uk-grid-16 {
  margin-left: -16px;
}
.uk-grid-16 > * {
  padding-left: 16px;
}
.uk-grid-16 > .uk-grid-margin {
  margin-top: 16px;
}

@media (min-width: 1600px) {
  .uk-grid-21-xl {
    margin-left: -21px;
  }
  .uk-grid-21-xl > * {
    padding-left: 21px;
  }
  .uk-grid-21-xl > .uk-grid-margin {
    margin-top: 21px;
  }
}

@media (min-width: 1200px) {
  .uk-grid-21-l {
    margin-left: -21px;
  }
  .uk-grid-21-l > * {
    padding-left: 21px;
  }
  .uk-grid-21-l > .uk-grid-margin {
    margin-top: 21px;
  }
}

@media (min-width: 960px) {
  .uk-grid-21-m {
    margin-left: -21px;
  }
  .uk-grid-21-m > * {
    padding-left: 21px;
  }
  .uk-grid-21-m > .uk-grid-margin {
    margin-top: 21px;
  }
}

@media (min-width: 640px) {
  .uk-grid-21-s {
    margin-left: -21px;
  }
  .uk-grid-21-s > * {
    padding-left: 21px;
  }
  .uk-grid-21-s > .uk-grid-margin {
    margin-top: 21px;
  }
}

.uk-grid-21 {
  margin-left: -21px;
}
.uk-grid-21 > * {
  padding-left: 21px;
}
.uk-grid-21 > .uk-grid-margin {
  margin-top: 21px;
}

@media (min-width: 1600px) {
  .uk-grid-24-xl {
    margin-left: -24px;
  }
  .uk-grid-24-xl > * {
    padding-left: 24px;
  }
  .uk-grid-24-xl > .uk-grid-margin {
    margin-top: 24px;
  }
}

@media (min-width: 1200px) {
  .uk-grid-24-l {
    margin-left: -24px;
  }
  .uk-grid-24-l > * {
    padding-left: 24px;
  }
  .uk-grid-24-l > .uk-grid-margin {
    margin-top: 24px;
  }
}

@media (min-width: 960px) {
  .uk-grid-24-m {
    margin-left: -24px;
  }
  .uk-grid-24-m > * {
    padding-left: 24px;
  }
  .uk-grid-24-m > .uk-grid-margin {
    margin-top: 24px;
  }
}

@media (min-width: 640px) {
  .uk-grid-24-s {
    margin-left: -24px;
  }
  .uk-grid-24-s > * {
    padding-left: 24px;
  }
  .uk-grid-24-s > .uk-grid-margin {
    margin-top: 24px;
  }
}

.uk-grid-24 {
  margin-left: -24px;
}
.uk-grid-24 > * {
  padding-left: 24px;
}
.uk-grid-24 > .uk-grid-margin {
  margin-top: 24px;
}

@media (min-width: 1600px) {
  .uk-grid-25-xl {
    margin-left: -25px;
  }
  .uk-grid-25-xl > * {
    padding-left: 25px;
  }
  .uk-grid-25-xl > .uk-grid-margin {
    margin-top: 25px;
  }
}

@media (min-width: 1200px) {
  .uk-grid-25-l {
    margin-left: -25px;
  }
  .uk-grid-25-l > * {
    padding-left: 25px;
  }
  .uk-grid-25-l > .uk-grid-margin {
    margin-top: 25px;
  }
}

@media (min-width: 960px) {
  .uk-grid-25-m {
    margin-left: -25px;
  }
  .uk-grid-25-m > * {
    padding-left: 25px;
  }
  .uk-grid-25-m > .uk-grid-margin {
    margin-top: 25px;
  }
}

@media (min-width: 640px) {
  .uk-grid-25-s {
    margin-left: -25px;
  }
  .uk-grid-25-s > * {
    padding-left: 25px;
  }
  .uk-grid-25-s > .uk-grid-margin {
    margin-top: 25px;
  }
}

.uk-grid-25 {
  margin-left: -25px;
}
.uk-grid-25 > * {
  padding-left: 25px;
}
.uk-grid-25 > .uk-grid-margin {
  margin-top: 25px;
}

@media (min-width: 1600px) {
  .uk-grid-32-xl {
    margin-left: -32px;
  }
  .uk-grid-32-xl > * {
    padding-left: 32px;
  }
  .uk-grid-32-xl > .uk-grid-margin {
    margin-top: 32px;
  }
}

@media (min-width: 1200px) {
  .uk-grid-32-l {
    margin-left: -32px;
  }
  .uk-grid-32-l > * {
    padding-left: 32px;
  }
  .uk-grid-32-l > .uk-grid-margin {
    margin-top: 32px;
  }
}

@media (min-width: 960px) {
  .uk-grid-32-m {
    margin-left: -32px;
  }
  .uk-grid-32-m > * {
    padding-left: 32px;
  }
  .uk-grid-32-m > .uk-grid-margin {
    margin-top: 32px;
  }
}

@media (min-width: 640px) {
  .uk-grid-32-s {
    margin-left: -32px;
  }
  .uk-grid-32-s > * {
    padding-left: 32px;
  }
  .uk-grid-32-s > .uk-grid-margin {
    margin-top: 32px;
  }
}

.uk-grid-32 {
  margin-left: -32px;
}
.uk-grid-32 > * {
  padding-left: 32px;
}
.uk-grid-32 > .uk-grid-margin {
  margin-top: 32px;
}

@media (min-width: 1600px) {
  .uk-grid-77-xl {
    margin-left: -77px;
  }
  .uk-grid-77-xl > * {
    padding-left: 77px;
  }
  .uk-grid-77-xl > .uk-grid-margin {
    margin-top: 77px;
  }
}

@media (min-width: 1200px) {
  .uk-grid-77-l {
    margin-left: -77px;
  }
  .uk-grid-77-l > * {
    padding-left: 77px;
  }
  .uk-grid-77-l > .uk-grid-margin {
    margin-top: 77px;
  }
}

@media (min-width: 960px) {
  .uk-grid-77-m {
    margin-left: -77px;
  }
  .uk-grid-77-m > * {
    padding-left: 77px;
  }
  .uk-grid-77-m > .uk-grid-margin {
    margin-top: 77px;
  }
}

@media (min-width: 640px) {
  .uk-grid-77-s {
    margin-left: -77px;
  }
  .uk-grid-77-s > * {
    padding-left: 77px;
  }
  .uk-grid-77-s > .uk-grid-margin {
    margin-top: 77px;
  }
}

.uk-grid-77 {
  margin-left: -77px;
}
.uk-grid-77 > * {
  padding-left: 77px;
}
.uk-grid-77 > .uk-grid-margin {
  margin-top: 77px;
}

@font-face {
  font-family: "iCiel Graphik Regular";
  font-display: auto;
  src: local("iCiel Graphik Regular"), url("../fonts/Font_otf/Graphik-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "iCiel Graphik Medium";
  font-display: auto;
  src: local("iCiel Graphik Medium"), url("../fonts/Font_otf/Graphik-Medium.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "iCiel Graphik Bold";
  font-display: auto;
  src: local("iCiel Graphik Bold"), url("../fonts/Font_otf/Graphik-Bold.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HiraKakuStd-W8";
  font-display: auto;
  src: local("HiraKakuStd-W8"), url("../fonts/hiragino-kaku-gothic-std-w8.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "San Francisco Display Bold";
  font-display: auto;
  src: local("San Francisco Display Bold"), url("../fonts/San-Francisco-Pro-Fonts-master/SF-Pro-Display-Bold.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.chongiaovien__bg {
  background: #F4F6F8;
}
.chongiaovien__01 {
  padding-top: 24px;
  padding-bottom: 83px;
}
@media (min-width: 960px) {
  .chongiaovien__01 {
    padding-top: 48px;
    padding-bottom: 127px;
  }
}
.chongiaovien__01__margin {
  margin-bottom: 24px;
}
@media (min-width: 960px) {
  .chongiaovien__01__margin {
    margin-bottom: 48px;
  }
}
.chongiaovien__01__margin1 {
  margin-top: 54px;
}
@media (min-width: 960px) {
  .chongiaovien__01__margin1 {
    margin-top: 103px;
  }
}
.chongiaovien__01__svg {
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chongiaovien__01__txt2 {
  color: #171717;
  line-height: 1.6;
  margin-top: 5px;
}
.chongiaovien__01__txt2 {
  font-size: 14px !important;
}
@media screen and (min-width: 640px) {
  .chongiaovien__01__txt2 {
    font-size: calc(14px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .chongiaovien__01__txt2 {
    font-size: 14px !important;
  }
}
.chongiaovien__01__txt1 {
  color: #8C8C8C;
  line-height: 1.6;
  font-family: "iCiel Graphik Regular", sans-serif;
}
.chongiaovien__01__txt1 {
  font-size: 14px !important;
}
@media screen and (min-width: 640px) {
  .chongiaovien__01__txt1 {
    font-size: calc(14px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .chongiaovien__01__txt1 {
    font-size: 14px !important;
  }
}
.chongiaovien__01__btnfillter {
  text-transform: inherit;
  background-color: #fff;
  padding-left: 12px;
  line-height: 30px;
  border-radius: 4px;
  max-width: 140px;
  width: 100%;
}
.chongiaovien__01__btnfillter > span:not(.uk-icon) {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
@media (min-width: 960px) {
  .chongiaovien__01__btnfillter {
    max-width: inherit;
  }
}
.chongiaovien__01__btnfillter .uk-icon {
  right: 5px;
}
.chongiaovien__01__title {
  line-height: 1.3;
  color: #171717;
  font-family: "iCiel Graphik Medium", sans-serif;
}
.chongiaovien__01__title {
  font-size: 24px !important;
}
@media screen and (min-width: 640px) {
  .chongiaovien__01__title {
    font-size: calc(24px + 8 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .chongiaovien__01__title {
    font-size: 32px !important;
  }
}
@media (min-width: 960px) {
  .chongiaovien__01__title {
    font-family: "San Francisco Display Bold", sans-serif;
  }
}
.chongiaovien__01__item {
  padding: 16px;
}
@media (min-width: 960px) {
  .chongiaovien__01__item {
    padding: 16px;
  }
}
.chongiaovien__01__item:nth-child(n+2) {
  margin-top: 22px;
}
@media (min-width: 960px) {
  .chongiaovien__01__item:nth-child(n+2) {
    margin-top: 24px;
  }
}
.chongiaovien__01__class {
  font-family: "iCiel Graphik Regular", sans-serif;
  color: #565656;
}
.chongiaovien__01__class {
  font-size: 14px !important;
}
@media screen and (min-width: 640px) {
  .chongiaovien__01__class {
    font-size: calc(14px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .chongiaovien__01__class {
    font-size: 14px !important;
  }
}
@media (min-width: 960px) {
  .chongiaovien__01__class {
    margin-top: 16px;
    color: #171717;
  }
}
.chongiaovien__01__class span {
  font-family: "iCiel Graphik Medium", sans-serif;
}
.chongiaovien__01__name {
  color: #000000;
  font-family: "iCiel Graphik Medium", sans-serif;
}
.chongiaovien__01__name {
  font-size: 18px !important;
}
@media screen and (min-width: 640px) {
  .chongiaovien__01__name {
    font-size: calc(18px + 4 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .chongiaovien__01__name {
    font-size: 22px !important;
  }
}
.datlich__04__box2 .chongiaovien__01__name {
  margin-bottom: 16px;
}
.datlich__04__comment .chongiaovien__01__name {
  margin-bottom: 20px;
}
@media (min-width: 960px) {
  .chongiaovien__01__name {
    margin-bottom: 4px;
  }
  .datlich__04 .chongiaovien__01__name {
    margin-bottom: 3px;
  }
  .datlich__04__box2 .chongiaovien__01__name {
    margin-bottom: 8px;
  }
  .datlich__04__comment .chongiaovien__01__name {
    margin-bottom: 16px;
  }
}
.chongiaovien__01__txt {
  font-family: "iCiel Graphik Regular", sans-serif;
  color: #565656;
  line-height: 1.6;
}
.chongiaovien__01__txt {
  font-size: 14px !important;
}
@media screen and (min-width: 640px) {
  .chongiaovien__01__txt {
    font-size: calc(14px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .chongiaovien__01__txt {
    font-size: 14px !important;
  }
}
.chongiaovien__01__txt--danhgia {
  color: #171717;
  margin-top: 1px;
}
@media (min-width: 960px) {
  .chongiaovien__01__txt--danhgia {
    margin-top: 4px;
  }
}
.chongiaovien__01__boxstar {
  width: 18px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info_giaovien .chongiaovien__01__boxstar svg {
  opacity: 1;
}
@media (min-width: 960px) {
  .chongiaovien__01__boxstar {
    width: 18.46px;
    height: 24px;
  }
}
.chongiaovien__01__boxtag {
  margin-top: 24px;
}
@media (min-width: 960px) {
  .chongiaovien__01__boxtag {
    margin-top: 21px;
  }
  .datlich__04 .chongiaovien__01__boxtag {
    margin-top: 7px;
  }
}
.chongiaovien__01__tag {
  padding: 4px 6px;
  background: #F4F6F8;
  border-radius: 4px;
  font-family: "iCiel Graphik Regular", sans-serif;
  color: #171717;
  line-height: 1.6;
  display: inline-block;
}
.chongiaovien__01__tag {
  font-size: 12px !important;
}
@media screen and (min-width: 640px) {
  .chongiaovien__01__tag {
    font-size: calc(12px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .chongiaovien__01__tag {
    font-size: 12px !important;
  }
}
@media (min-width: 960px) {
  .chongiaovien__01__tag {
    padding: 8px;
  }
  .chongiaovien__01__tag {
    font-size: 14px !important;
  }
}
@media screen and (min-width: 960px) and (min-width: 640px) {
  .chongiaovien__01__tag {
    font-size: calc(14px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 960px) and (min-width: 1200px) {
  .chongiaovien__01__tag {
    font-size: 14px !important;
  }
}
@media (min-width: 960px) {
  .datlich__04 .chongiaovien__01__tag {
    font-size: 12px !important;
  }
}
@media screen and (min-width: 960px) and (min-width: 640px) {
  .datlich__04 .chongiaovien__01__tag {
    font-size: calc(12px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 960px) and (min-width: 1200px) {
  .datlich__04 .chongiaovien__01__tag {
    font-size: 12px !important;
  }
}
.chongiaovien__01__boxbtn {
  margin-top: 24px;
}
@media (min-width: 960px) {
  .chongiaovien__01__boxbtn {
    margin-top: 16px;
  }
}
.chongiaovien__01__btn {
  background: #00B342;
  border-radius: 4px;
  text-transform: inherit;
  color: #FFFFFF;
  font-family: "iCiel Graphik Regular", sans-serif;
}
.chongiaovien__01__btn {
  font-size: 16px !important;
}
@media screen and (min-width: 640px) {
  .chongiaovien__01__btn {
    font-size: calc(16px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .chongiaovien__01__btn {
    font-size: 16px !important;
  }
}

.hoanthanh__02 {
  padding-top: 48px;
  padding-bottom: 134px;
}
@media (min-width: 960px) {
  .hoanthanh__02 {
    padding-bottom: 221px;
  }
}
.hoanthanh__02__box1 {
  padding: 16px;
}
@media (min-width: 960px) {
  .hoanthanh__02__box1 {
    padding: 64px 0;
  }
}
.hoanthanh__02__box2 {
  margin-bottom: 48px;
}
@media (min-width: 960px) {
  .hoanthanh__02__box2 {
    margin-bottom: 34px;
  }
}
.hoanthanh__02__item:nth-child(n+2) {
  margin-top: 24px;
}
.hoanthanh__02__img {
  width: 64px;
}
@media (min-width: 960px) {
  .hoanthanh__02__img {
    width: 75px;
  }
}
.hoanthanh__02__title1 {
  line-height: 1.3;
  color: #171717;
  font-family: "iCiel Graphik Medium", sans-serif;
}
@media (min-width: 960px) {
  .hoanthanh__02__title1 {
    font-family: "San Francisco Display Bold", sans-serif;
  }
}
.hoanthanh__02__title1 {
  font-size: 24px !important;
}
@media screen and (min-width: 640px) {
  .hoanthanh__02__title1 {
    font-size: calc(24px + 8 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .hoanthanh__02__title1 {
    font-size: 32px !important;
  }
}
.hoanthanh__02__boxacc {
  margin-top: 16px;
  margin-bottom: 16px;
}
@media (min-width: 960px) {
  .hoanthanh__02__boxacc {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
.hoanthanh__02__txt1 {
  color: #171717;
  line-height: 1.6;
  font-family: "iCiel Graphik Regular", sans-serif;
}
.hoanthanh__02__txt1 {
  font-size: 14px !important;
}
@media screen and (min-width: 640px) {
  .hoanthanh__02__txt1 {
    font-size: calc(14px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .hoanthanh__02__txt1 {
    font-size: 14px !important;
  }
}
.hoanthanh__02__txt1 span {
  font-family: "iCiel Graphik Bold", sans-serif;
}
.hoanthanh__02__desc {
  color: #171717;
  line-height: 1.6;
  font-family: "iCiel Graphik Regular", sans-serif;
}
@media (min-width: 960px) {
  .hoanthanh__02__desc {
    color: #565656;
  }
}
.hoanthanh__02__desc {
  font-size: 14px !important;
}
@media screen and (min-width: 640px) {
  .hoanthanh__02__desc {
    font-size: calc(14px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .hoanthanh__02__desc {
    font-size: 14px !important;
  }
}
.hoanthanh__02__boxbtn {
  margin-top: 24px;
}
@media (min-width: 960px) {
  .hoanthanh__02__boxbtn {
    margin-top: 26px;
  }
}

.dangky__03 {
  padding-top: 28px;
  padding-bottom: 49px;
}
@media (min-width: 960px) {
  .dangky__03 {
    padding-top: 48px;
    padding-bottom: 120px;
  }
}
.dangky__03__box1 {
  padding: 16px;
}
@media (min-width: 960px) {
  .dangky__03__box1 {
    padding: 32px;
  }
}
.dangky__03__box1--c1 {
  padding: 12px 16px;
  margin-bottom: 16px;
}
.dangky__03__margin1 {
  margin-bottom: 12px;
}
@media (min-width: 960px) {
  .dangky__03__margin1 {
    margin-bottom: 28px;
  }
}
.dangky__03__table {
  margin: 0;
}
.dangky__03__table tr td, .dangky__03__table tr th {
  padding: 0;
}
.dangky__03__table tr td, .dangky__03__table tr th {
  font-size: 14px !important;
}
@media screen and (min-width: 640px) {
  .dangky__03__table tr td, .dangky__03__table tr th {
    font-size: calc(14px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .dangky__03__table tr td, .dangky__03__table tr th {
    font-size: 14px !important;
  }
}
@media (min-width: 960px) {
  .dangky__03__table tr td, .dangky__03__table tr th {
    padding: 2px 0;
  }
}
.dangky__03__table tr td {
  font-family: "iCiel Graphik Regular", sans-serif;
  color: #565656;
}
.dangky__03__table tr th {
  font-family: "iCiel Graphik Medium", sans-serif;
  text-transform: inherit;
  color: #171717;
}
.dangky__03__leg {
  color: #171717;
  line-height: 1.6;
  font-family: "iCiel Graphik Regular", sans-serif;
  margin-bottom: 21px;
}
.dangky__03__leg {
  font-size: 14px !important;
}
@media screen and (min-width: 640px) {
  .dangky__03__leg {
    font-size: calc(14px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .dangky__03__leg {
    font-size: 14px !important;
  }
}
.dangky__03__label {
  font-family: "iCiel Graphik Medium", sans-serif;
  color: #171717;
  line-height: 1.6;
  display: block;
  margin-bottom: 5px;
}
.dangky__03__label {
  font-size: 14px !important;
}
@media screen and (min-width: 640px) {
  .dangky__03__label {
    font-size: calc(14px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .dangky__03__label {
    font-size: 14px !important;
  }
}
.dangky__03__input1 {
  background: #F4F6F8;
  border-color: #F4F6F8;
  border-radius: 4px;
  color: #8C8C8C;
  font-family: "iCiel Graphik Regular", sans-serif;
}
.dangky__03__input1::placeholder {
  color: #8C8C8C;
}
.dangky__03__input1 {
  font-size: 14px !important;
}
@media screen and (min-width: 640px) {
  .dangky__03__input1 {
    font-size: calc(14px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .dangky__03__input1 {
    font-size: 14px !important;
  }
}
.dangky__03__input2 {
  background: #F4F6F8;
  border-color: #F4F6F8;
  border-radius: 4px;
  color: #8C8C8C;
  text-transform: inherit;
  text-align: left;
  padding-left: 10px;
}
.dangky__03__input2 .uk-icon {
  right: 5px;
}
.dangky__03__margin2 {
  margin: 0 !important;
}
.dangky__03__margin2:nth-child(n+2) {
  margin-top: 12px !important;
}
@media (min-width: 960px) {
  .dangky__03__margin2:nth-child(n+2) {
    margin-top: 16px !important;
  }
}
.dangky__03__margin3 {
  margin-top: 24px;
}
@media (min-width: 960px) {
  .dangky__03__margin3 {
    margin-top: 34px;
  }
}

.datlich__04 {
  padding-top: 0;
  padding-bottom: 13px;
}
@media (min-width: 960px) {
  .datlich__04 {
    padding-top: 50px;
    padding-bottom: 192px;
  }
}
.datlich__04__margin_24_16 {
  margin-bottom: 16px;
}
@media (min-width: 960px) {
  .datlich__04__margin_24_16 {
    margin-bottom: 24px;
  }
}
.datlich__04__box1 {
  padding: 16px;
}
@media (min-width: 960px) {
  .datlich__04__box1 {
    padding: 24px 32px;
  }
}
.datlich__04__box2 {
  margin-top: 24px;
  padding-top: 16px;
  border-top: 1px solid #DAE7DF;
}
@media (min-width: 960px) {
  .datlich__04__box2 {
    padding-top: 24px;
  }
}
.datlich__04__box3 {
  padding: 16px;
}
@media (min-width: 960px) {
  .datlich__04__box3 {
    border-radius: 4px;
  }
}
.datlich__04__box3__title {
  color: #171717;
  line-height: 1.6;
  font-family: "iCiel Graphik Medium", sans-serif;
  margin-bottom: 16px;
}
.datlich__04__box3__title {
  font-size: 14px !important;
}
@media screen and (min-width: 640px) {
  .datlich__04__box3__title {
    font-size: calc(14px + 2 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .datlich__04__box3__title {
    font-size: 16px !important;
  }
}
@media (min-width: 960px) {
  .datlich__04__box3__title {
    margin-bottom: 24px;
    border-bottom: 1px solid #DAE7DF;
  }
}
.datlich__04__box3__margin {
  margin-top: 16px;
}
@media (min-width: 960px) {
  .datlich__04__box3__margin {
    margin-top: 25px;
  }
}
.datlich__04__box3__table__td:first-child {
  border-top: none !important;
}
.datlich__04__box3__table__tr:first-child .datlich__04__box3__table__td:first-child {
  border-top: 1px solid #DAE7DF !important;
  border-bottom: none !important;
}
.datlich__04__box3__table__tr:nth-child(n+2) .datlich__04__box3__table__td:first-child {
  border-top: none !important;
  border-bottom: none !important;
}
.datlich__04__box3__table__tr:last-child .datlich__04__box3__table__td:first-child {
  border-bottom: 1px solid #DAE7DF !important;
}
.datlich__04__box3__table tr td, .datlich__04__box3__table tr th {
  padding: 0;
  text-align: center;
}
.datlich__04__box3__table tr td {
  border: 1px solid #DAE7DF;
}
.datlich__04__box3__table tr td.uk-active {
  background: #00B342;
}
.datlich__04__box3__table__txt1 {
  color: #000;
  font-family: "iCiel Graphik Medium", sans-serif;
  line-height: 1.4;
}
.datlich__04__box3__table__txt1 {
  font-size: 14px !important;
}
@media screen and (min-width: 640px) {
  .datlich__04__box3__table__txt1 {
    font-size: calc(14px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .datlich__04__box3__table__txt1 {
    font-size: 14px !important;
  }
}
.datlich__04__box3__table__txt2 {
  color: #565656;
  line-height: 1.4;
  font-family: "iCiel Graphik Regular", sans-serif;
}
.datlich__04__box3__table__txt2 {
  font-size: 14px !important;
}
@media screen and (min-width: 640px) {
  .datlich__04__box3__table__txt2 {
    font-size: calc(14px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .datlich__04__box3__table__txt2 {
    font-size: 14px !important;
  }
}
.datlich__04__desc {
  line-height: 1.6;
  color: #171717;
  font-family: "iCiel Graphik Regular", sans-serif;
}
.datlich__04__desc {
  font-size: 14px !important;
}
@media screen and (min-width: 640px) {
  .datlich__04__desc {
    font-size: calc(14px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .datlich__04__desc {
    font-size: 14px !important;
  }
}
.datlich__04__desc:nth-child(n+2) {
  margin: 0;
  margin-top: 16px;
}
.datlich__04__linkmore {
  font-family: "iCiel Graphik Medium", sans-serif;
  margin-top: 16px;
}
.datlich__04__linkmore {
  font-size: 14px !important;
}
@media screen and (min-width: 640px) {
  .datlich__04__linkmore {
    font-size: calc(14px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .datlich__04__linkmore {
    font-size: 14px !important;
  }
}
@media (min-width: 960px) {
  .datlich__04__linkmore {
    margin-top: 38px;
  }
}
.datlich__04__linkmore a {
  color: #00B342 !important;
}
.datlich__04__comment__box1 {
  padding: 16px;
}
.datlich__04__comment__margin1 {
  margin-bottom: 16px;
}
.datlich__04__comment__desc {
  color: #171717;
  line-height: 1.6;
  font-family: "iCiel Graphik Regular", sans-serif;
  margin-bottom: 16.5px;
}
.datlich__04__comment__desc {
  font-size: 14px !important;
}
@media screen and (min-width: 640px) {
  .datlich__04__comment__desc {
    font-size: calc(14px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .datlich__04__comment__desc {
    font-size: 14px !important;
  }
}
.datlich__04__comment__name {
  line-height: 1.6;
  color: #171717;
  font-family: "iCiel Graphik Medium", sans-serif;
}
.datlich__04__comment__name {
  font-size: 14px !important;
}
@media screen and (min-width: 640px) {
  .datlich__04__comment__name {
    font-size: calc(14px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .datlich__04__comment__name {
    font-size: 14px !important;
  }
}
.datlich__04__comment__smalltxt {
  line-height: 1.6;
  color: #565656;
  font-family: "iCiel Graphik Regular", sans-serif;
}
.datlich__04__comment__smalltxt {
  font-size: 12px !important;
}
@media screen and (min-width: 640px) {
  .datlich__04__comment__smalltxt {
    font-size: calc(12px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .datlich__04__comment__smalltxt {
    font-size: 12px !important;
  }
}
.datlich__04__comment__margin2 {
  margin-top: -3px;
}
.datlich__04__comment__margin3 {
  margin-top: 16px;
}
@media (min-width: 960px) {
  .datlich__04__comment__margin3 {
    margin-top: 43px;
  }
}
.datlich__04__oder {
  box-shadow: 0px -6px 34px rgba(0, 0, 0, 0.25);
  border-radius: 4px 4px 0 0;
  padding: 14px 16px;
}
.datlich__04__popup {
  padding: 0;
}
@media (min-width: 960px) {
  .datlich__04__popup {
    padding: 15px;
  }
}
.datlich__04__popup__body {
  padding: 16px;
  max-width: 906px !important;
  width: 100%;
  min-height: 100vh;
  background-color: #F4F6F8;
  transform: translateY(0);
}
@media (min-width: 960px) {
  .datlich__04__popup__body {
    padding: 24px;
    min-height: inherit;
    transform: translateY(-100px);
  }
}
.datlich__04__popup__margin1 {
  margin-bottom: 37px;
}
@media (min-width: 960px) {
  .datlich__04__popup__margin1 {
    margin-bottom: 16px;
  }
}
.datlich__04__popup__txt1 {
  color: #333333;
  font-family: "iCiel Graphik Medium", sans-serif;
  line-height: 1.6;
}
.datlich__04__popup__txt1 {
  font-size: 24px !important;
}
@media screen and (min-width: 640px) {
  .datlich__04__popup__txt1 {
    font-size: calc(24px + 4 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .datlich__04__popup__txt1 {
    font-size: 28px !important;
  }
}
.datlich__04__popup__time {
  color: #565656;
  line-height: 1.6;
  font-family: "iCiel Graphik Regular", sans-serif;
}
.datlich__04__popup__time {
  font-size: 14px !important;
}
@media screen and (min-width: 640px) {
  .datlich__04__popup__time {
    font-size: calc(14px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .datlich__04__popup__time {
    font-size: 14px !important;
  }
}
@media (min-width: 960px) {
  .datlich__04__popup__time {
    position: relative;
    top: 2px;
  }
}
.datlich__04__popup__dot {
  width: 12px;
  height: 12px;
}
.controng .datlich__04__popup__dot {
  background: #00B342;
}
.dadat .datlich__04__popup__dot {
  background: #8C8C8C;
}
.bandadat .datlich__04__popup__dot {
  background: #006208;
}
.datlich__04__popup__txt2 {
  color: #000;
  line-height: 1.6;
  font-family: "iCiel Graphik Regular", sans-serif;
}
.datlich__04__popup__txt2 {
  font-size: 12px !important;
}
@media screen and (min-width: 640px) {
  .datlich__04__popup__txt2 {
    font-size: calc(12px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .datlich__04__popup__txt2 {
    font-size: 12px !important;
  }
}
.datlich__04__popup__margin2 {
  margin-bottom: 12px;
}
.datlich__04__popup__select1 {
  width: 27px;
  height: 27px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: "iCiel Graphik Medium", sans-serif;
  color: #171717;
}
.datlich__04__popup__select1 {
  font-size: 14px !important;
}
@media screen and (min-width: 640px) {
  .datlich__04__popup__select1 {
    font-size: calc(14px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .datlich__04__popup__select1 {
    font-size: 14px !important;
  }
}
.uk-active .datlich__04__popup__select1 {
  background: #F8991D;
  color: #FFFFFF;
}
.datlich__04__popup__txt3 {
  text-transform: inherit;
  font-family: "iCiel Graphik Regular", sans-serif;
  color: #171717;
}
.datlich__04__popup__txt3 {
  font-size: 14px !important;
}
@media screen and (min-width: 640px) {
  .datlich__04__popup__txt3 {
    font-size: calc(14px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .datlich__04__popup__txt3 {
    font-size: 14px !important;
  }
}
.datlich__04__popup__txt4 {
  color: #000;
  font-family: "iCiel Graphik Regular", sans-serif;
  line-height: 1.6;
  display: inline-block;
  padding: 6px 10px;
}
.datlich__04__popup__txt4 {
  font-size: 12px !important;
}
@media screen and (min-width: 640px) {
  .datlich__04__popup__txt4 {
    font-size: calc(12px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .datlich__04__popup__txt4 {
    font-size: 12px !important;
  }
}
.datlich__04__popup__txt5 {
  display: block;
  padding: 6px 10px;
}
.datlich__04__popup__txt5 {
  font-size: 12px !important;
}
@media screen and (min-width: 640px) {
  .datlich__04__popup__txt5 {
    font-size: calc(12px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .datlich__04__popup__txt5 {
    font-size: 12px !important;
  }
}
.dadat1 .datlich__04__popup__txt5 {
  background: #E7E9EB;
  color: #8C8C8C;
}
.datlich1 .datlich__04__popup__txt5 {
  background: #00B342;
  color: #FFFFFF;
}
.bandadat1 .datlich__04__popup__txt5 {
  background: #006208;
  color: #FFFFFF;
}
.datlich__04__popup__table1 {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.datlich__04__popup__table1 tr th {
  text-transform: inherit;
}
.datlich__04__popup__table1 tr td {
  text-align: center;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.datlich__04__popup__cancel {
  background-image: url("../images/datlich/Rectangle-220.png");
  background-repeat: no-repeat;
}
.datlich__04__popup__day {
  color: #6F7071;
  line-height: 1.4;
  margin-bottom: 2px;
}
.datlich__04__popup__day {
  font-size: 12px !important;
}
@media screen and (min-width: 640px) {
  .datlich__04__popup__day {
    font-size: calc(12px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .datlich__04__popup__day {
    font-size: 12px !important;
  }
}
.datlich__04__popup__margin_m {
  margin-bottom: 17px;
}
.datlich__04__popup__danhsach {
  padding: 10px 16px;
  color: #171717;
  background: #DAE7DF;
  border-radius: 4px;
}
.datlich__04__popup__danhsach {
  font-size: 15px !important;
}
@media screen and (min-width: 640px) {
  .datlich__04__popup__danhsach {
    font-size: calc(15px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .datlich__04__popup__danhsach {
    font-size: 15px !important;
  }
}
.datlich__04__popup__danhsach1 {
  padding: 0 16px;
  max-height: 300px;
}
.datlich__04__popup__danhsach1__item {
  padding: 8px 0;
}
.datlich__04__popup__danhsach1__item:nth-child(n+2) {
  border-top: 1px solid #f2f2f2;
}
.datlich__04__popup__danhsach2 {
  margin-bottom: 16px;
}
.datlich__04__popup__tx1 {
  color: #8C8C8C;
}
.datlich__04__popup__tx1 {
  font-size: 14px !important;
}
@media screen and (min-width: 640px) {
  .datlich__04__popup__tx1 {
    font-size: calc(14px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .datlich__04__popup__tx1 {
    font-size: 14px !important;
  }
}
.uk-active .datlich__04__popup__tx1 {
  color: #171717;
}
.datlich__04__popup__tx2 {
  padding: 5px 15px;
  display: inline-block;
  background: #E7E9EB;
  border-radius: 2px;
  min-width: 111px;
  text-align: center;
  color: #8C8C8C;
}
.datlich__04__popup__tx2 {
  font-size: 14px !important;
}
@media screen and (min-width: 640px) {
  .datlich__04__popup__tx2 {
    font-size: calc(14px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .datlich__04__popup__tx2 {
    font-size: 14px !important;
  }
}
.uk-active .datlich__04__popup__tx2 {
  background: #00B342;
  color: #FFFFFF;
}
.datlich__04__popup__dotm {
  width: 39px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-family: "iCiel Graphik Regular", sans-serif;
}
.datlich__04__popup__dotm {
  font-size: 14px !important;
}
@media screen and (min-width: 640px) {
  .datlich__04__popup__dotm {
    font-size: calc(14px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .datlich__04__popup__dotm {
    font-size: 14px !important;
  }
}
.warning .datlich__04__popup__dotm {
  background: #F8991D;
  color: #FFFFFF;
}
.uk-active .datlich__04__popup__dotm {
  color: #FFFFFF;
  background: #006208;
}

.dadat1 {
  background: #E7E9EB;
  color: #8C8C8C;
}

.datlich1 {
  background: #00B342;
  color: #FFFFFF;
}

.bandadat1 {
  background: #006208;
  color: #FFFFFF;
}
/*# sourceMappingURL=style.css.map */